<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <header id="main-header">
        <nav>
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/clinica/clinicas}">Clinica</a>
                </li>
                <li>
                    <a th:href="@{/}">Paciente</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>