<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/agendamentos.css">
</head>
<body>
<header id="main-header">
    <nav>
        <ul>
            <li>
                <a th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>

            <li sec:authorize="hasRole('PACIENTE') or hasRole('CLINICA')">
                <a th:href="@{/agendamentos/}">Agendamentos</a>
            </li>

            <li sec:authorize="hasRole('AUDITOR')">
                <a th:href="@{/clinica/all}">Clinica</a>
            </li>

            <li sec:authorize="hasRole('AUDITOR')">
                <a th:href="@{/paciente/all}">Paciente</a>
            </li>
        </ul>
    </nav>
    <div class="user-info">
        <a th:href="@{/{role}/edit/ (role=${#authentication.principal.usuario.tipo.getDescricao()})}">
            <i class="fa-solid fa-user"></i>
        </a>
        <a th:href="@{/logout}" class="logout-button">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </div>
</header>

</body>
</html>