<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header id="main-header">
        <nav>
            <ul>
                <li>
                    <a th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li>
                    <a th:href="@{/clinica/all/clinicas}">Clinica</a>
                </li>
                <li>
                    <a th:href="@{/}">Paciente</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>