*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url("../images/photo-1-overlay.png");
    background-size: cover;
}

.logo-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.logo-section .logo
{
    width: 350px;
}

.main-content
{
    width: 600px;
    height: auto;
    background: #007bff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 100px 0 #002353;
}

.container-tipo-cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
    color: #f5f5f5;
    font-weight: bold;
    margin-bottom: 20px;
}

.container-tipo-cadastro h2
{
    font-size: 2rem;
    color: #f5f5f5;
    font-weight: bold;
}

.container-tipo-cadastro section
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #002353;
    border-radius: 50%;
}

.radio-container:hover .checkmark {
    outline: 2px solid #f5f5f5;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #f5f5f5;
}

.radio-container input:checked ~ .checkmark::after {
    display: block;
}

.form-div-layout
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100%;
}

.form-div-layout .info-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.form-div-layout section div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-weight: bold;
    flex: auto;
    color: #f5f5f5;
    width: 100%;
}

.form-div-layout label
{
    font-size: 0.9rem;
}

.form-div-layout input, select
{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.form-div-layout select
{
    color: #0D214562;
    height: 37px;
}

.form-div-layout input[type='date']
{
    font-weight: bold;
    color: #0D214562;
}

.form-div-layout input::placeholder
{
    color: #0D214562;
}

.form-div-layout input:focus
{
    font-weight: bold;
    outline: 2px solid #002353;
}

.form-div-layout .button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0px 20px 0px
}

.form-div-layout .button-div button
{
    background-color: #002353;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    height: 35px;
    width: 150px;
    margin: 10px;
    transition: all 0.3s ease;
}

.form-div-layout button:hover
{
    outline: 2px solid #f5f5f5;
    transform: scale(1.1);
}

.form-div-layout .login-redr-button
{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-div-layout .login-redr-button:hover
{
    text-decoration: underline;
    transform: translateX(10px);
}

#clinicaForm
{
    display: block;
}

#pacienteForm
{
    display: none;
}

#clinicaForm, #pacienteForm
{
    width: 100%;
    height: 100%;
}

.info-section div
{
    height: 73px;
}

#pacienteForm .info-section section
{
    height: 73px;
    display:flex;
    gap: 15px;
}

#pacienteForm .info-section section div {
    height: 73px;
    width: 210px;
}

