<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odontoprev</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
            <main class="main-content">
                <h1>Odontoprev</h1>
                <p>Seja bem-vindo ao sistema de gerenciamento de clínicas odontológicas.</p>
                <p>Para acessar o sistema, faça login ou cadastre-se.</p>
            </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>