<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<div class="login-container">
    <div class="logo-section">
        <h2>Entrar na minha conta</h2>
    </div>

    <form class="form-login" th:action="@{/login}" method="post">
        <div>
            <label for="username">E-mail</label>
            <input type="email" required placeholder="Seu e-mail" id="username" name="username" />
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" placeholder="Sua senha super secreta" id="password" name="password" />
        </div>
        <div class="button-div">
            <button type="submit" value="entrar">Entrar</button>
            <a class="login-redr-button" th:href="@{/}">Me cadastrar</a>
        </div>
    </form>
</div>
</body>
</html>
