<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pacientes</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link th:href="@{/css/tables.css}" rel="stylesheet" />
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/updateProfile.css">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="main-content">

  <section class="table-section">

    <a th:href="@{/}" class="cadastrar-href">
      <i class="fa-solid fa-plus"></i>
    </a>

    <table class="tabela">

      <thead>
      <tr>
        <th class="id-head">#</th>
        <th class="nome-head">Nome</th>
        <th class="data-nascimento">Data Nascimento</th>
        <th class="cpf-head">CPF</th>
        <th class="email-head">E-mail</th>
        <th class="tel-head">Telefone</th>
        <th class="plano-head">Plano</th>
        <th class="acao-head">
          <i class="fa-solid fa-gear"></i>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="paciente : ${pacientes}">
        <td th:text="${paciente.id}" class="id-col"></td>
        <td th:text="${paciente.nome}"></td>
        <td th:text="${paciente.dataNascimento}" class="dataNascimento-col"></td>
        <td th:text="${paciente.usuario.email}" class="email-col"></td>
        <td th:text="${paciente.cpf}" class="cpf-col"></td>
        <td th:text="${paciente.telefone}" class="tel-col"></td>
        <td th:text="${paciente.plano.nome}" class="plan-col"></td>
        <td class="acao-col">
          <div>
            <a class="editar" th:href="@{/paciente/edit/{id}(id = ${paciente.id})}">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a class="deletar" th:href="@{/paciente/delete/{id}(id = ${paciente.id})}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>