<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link th:href="@{/css/updateProfile.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main class="main-content">

        <header>
            <h2>Configurações</h2>
            <p>Confira ou altere as configurações e preferências de sua conta</p>
        </header>

        <section>

            <form method="post" th:action="@{/clinica/update/{id}(id = ${clinicaInfos.getId()})}" th:object="${clinicaInfos}">

                <div>
                    <label>Razão social</label>
                    <input type="text" readonly  th:field="*{razaosocial}">
                </div>

                <div>
                    <label>CNPJ</label>
                    <input type="text" readonly th:field="*{cnpj}">
                </div>

                <div>
                    <label>E-mail</label>
                    <input type="email" required th:field="*{usuario.email}">
                </div>

                <div>
                    <label>Telefone</label>
                    <input type="tel" required th:field="*{telefone}">
                </div>

                <div>
                    <label>Sua senha </label>
                    <input type="password" required th:value="*{usuario.senha}">
                </div>

            </form>

        </section>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>