<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link th:href="@{/css/updateProfile.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="main-content">

    <header>
        <h2>Configurações</h2>
        <p>Confira ou altere as configurações e preferências de sua conta</p>
    </header>

    <section>

        <form method="post" th:action="@{/paciente/update/{id}(id = ${idPaciente})}" th:object="${pacienteRequest}">

            <div>
                <label>Nome</label>
                <input type="text" readonly th:field="*{nome}">
            </div>

            <div>
                <label>Data Nascimento</label>
                <input type="date" readonly th:value="*{dataNascimento}" th:field="*{dataNascimento}">
            </div>

            <div>
                <label>CPF</label>
                <input type="text" readonly th:field="*{cpf}">
            </div>

            <div>
                <label>E-mail</label>
                <input type="email" required th:field="*{email}">
            </div>

            <div>
                <label>Telefone</label>
                <input type="tel" required th:field="*{telefone}">
            </div>

            <div>
                <label for="plano">Plano</label>
                <select id="plano" name="planos" required th:field="*{id_plano}" >
                    <option th:each="plano : ${planos}"
                            th:value="${plano.id}"
                            th:text="${plano.nome}"
                            th:selected="${plano.id == id_plano}"></option>
                </select>
            </div>

            <div>
                <label>Sua senha </label>
                    <input type="text" th:field="*{senha}" id="senha">
                </div>
            </div>

            <div class="button-div">
                <button type="submit" value="atualizar">
                     Atualizar <i class="fas fa-save"></i>
                </button>
            </div>

        </form>

    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>