<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link th:href="@{/css/updateProfile.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <script th:src="@{/js/script.js}" defer></script>
    <link rel="stylesheet" href="../static/css/agendamentos.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="main-content">
    <header>
        <h2 th:text="#{page.title.update}"></h2>
        <p th:text="#{page.subtitle.update}"></p>
    </header>

    <section>
        <!-- Formulário da Clínica -->
        <form th:if="${clinicaRequest != null}" method="post"
              th:action="@{/clinica/update/}" th:object="${clinicaRequest}">

            <input type="hidden" readonly th:field="*{senha}" id="senha" />

            <div>
                <label th:text="#{label.razaoSocial}"></label>
                <input type="text" readonly th:field="*{razaosocial}" />
            </div>

            <div>
                <label>CNPJ</label>
                <input type="text" readonly th:field="*{cnpj}" />
            </div>

            <div>
                <label>E-mail</label>
                <input type="email" required th:field="*{email}" />
            </div>

            <div>
                <label th:text="#{label.cellphone}"></label>
                <input type="tel" required th:field="*{telefone}" />
            </div>

            <div class="button-div">
                <button type="submit" >
                    <span th:text="#{button.atualizar}"></span>
                    <i class="fas fa-save"></i>
                </button>
            </div>


        </form>

        <!-- Formulário do Paciente -->
        <form th:if="${pacienteRequest != null}" method="post"
              th:action="@{/paciente/update/}" th:object="${pacienteRequest}">

            <input type="hidden" readonly th:field="*{senha}" id="senha" />

            <div>
                <label th:text="#{label.nome}"></label>
                <input type="text" readonly th:field="*{nome}" />
            </div>

            <div>
                <label>CPF</label>
                <input type="text" readonly th:field="*{cpf}" />
            </div>

            <div>
                <label th:text="#{label.date}">Data Nascimento</label>
                <input type="date" readonly th:value="*{dataNascimento}" th:field="*{dataNascimento}" />
            </div>

            <div>
                <label>E-mail</label>
                <input type="email" required th:field="*{email}" />
            </div>

            <div>
                <label th:text="#{label.cellphone}">Telefone</label>
                <input type="tel" required th:field="*{telefone}" />
            </div>

            <div>
                <label for="plano" th:text="#{label.plano}"></label>
                <select id="plano" name="planos" required th:field="*{id_plano}">
                    <option th:each="plano : ${planos}"
                            th:value="${plano.id}"
                            th:text="${plano.nome}"
                            th:selected="${plano.id == id_plano}"></option>
                </select>
            </div>

            <div class="button-div">
                <button type="submit">
                    <span th:text="#{button.atualizar}"></span>
                    <i class="fas fa-save"></i></button>
            </div>
        </form>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
