<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link th:href="@{/css/cadaster.css}" rel="stylesheet" />
</head>
<body>
    <main class="main-content">

        <div class="container-tipo-cadastro">
            <h2>Cadastro</h2>

            <section>
                <label class="radio-container">
                    <input type="radio" name="tipoCadastro" value="clinica" checked="checked"/>
                    <span class="checkmark"></span> Clínica
                </label>
                <label class="radio-container">
                    <input type="radio" name="tipoCadastro" value="paciente"/>
                    <span class="checkmark"></span> Paciente
                </label>
            </section>
        </div>

        <form method="post" th:action="@{/clinica/register}" th:object="${clinicaDTO}">

            <section class="info-section">
                <div>
                    <label for="razaoSocial">Razão social</label>
                    <input type="text" id="razaoSocial" maxLength="30" placeholder="Clinica123 Ltda" required th:field="*{razaosocial}">
                </div>

                <div>
                    <label for="cnpj">CNPJ</label>
                    <input type="text" id="cnpj" minLength="14" maxLength="18" placeholder="12.345.678/9000-01" required th:field="*{cnpj}">
                </div>

                <div>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" maxLength="100" placeholder="exemplo@gmail.com" required th:field="*{email}">
                </div>

                <div>
                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" maxLength="15" placeholder="Fixo ou móvel" required th:field="*{telefone}">
                </div>

                <div>
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Senha super secreta" required th:field="*{senha}">
                </div>
            </section>

            <div class="button-div">
                <button type="submit" value="cadastrar">Cadastrar</button>
            </div>
        </form>
    </main>

</body>
</html>
